.MetricTile{
    background-color: #384456;
    border-radius: 3px;
    width: 114px;
    height: 52px;
    color: white;
    float: left;
    clear: none; 
    display: block;
    font-size: 12px;
}

.metric-name{
    margin: 3px 20px 3px 30px;
}

.icon-metric{
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

img{
    margin:4px;
}

.machine-chart{
    font-size: 30px;
    font-weight: bold;
    }
    