.pagination {
    display: flex;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 30px;
}

.pagination li a {
    color: #fff;
    font-size: 14px;
    margin: 0 5px;
}
.pagination li.active a {
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .pagination {
        margin-bottom: 15px;
    }
}