.service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-left: 22px;
}
.service-header .title {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}
input[type=text], .service-header input {
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    background-color: #24282d;
    padding: 10px 19px;
}
.service-header input::placeholder {
    color: #55585c;
}
.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    background-color: #313843;
    margin-bottom: 9px;
    padding: 14px 12px 14px 31px;
}
.service .text,
.service .link {
    color: #fff;
    font-size: 14px;
    overflow: hidden;
    max-height: 27px;
    position: relative;
    padding-right: 20px;
}
.service .text::before {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 20px;
}
.service .text::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 1rem;
    height: 1rem;
    background: #313843;
}
.service .service-status p {
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 2px;
}
.service .Stopped p {
    background-color: #e13849;
}
.service .Running p {
    background-color: #36ae72;
}
.service .button {
    color: #f9f9fa;
    font-size: 11px;
    font-weight: 600;
    border-radius: 2px;
    border: 1px solid #4b576a;
    padding: 8px 26px;
    background: transparent;
    text-transform: uppercase;
    margin-left: 13px;
    cursor: pointer;
}
.service .button.special {
    background-color: #3775e0;
}
.service-name {
    width: 40%;
}
.service-status {
    width: 20%;
}
.service-more {
    width: 20%;
}
.service-wrapper {
    width: 66%;
    display: flex;
    align-items: center;
}
.button-wrapper {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}
.warning-text {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.service-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #313843;
    margin-bottom: 6px;
    padding: 9px 12px 14px 24px;
}
.service-mobile .service-name-mobile {
    color: #fff;
    font-size: 14px;
}
.service-mobile .service-status-mobile {
    width: 23px;
    height: 23px;
    border-radius: 50%;
}
.service-mobile .service-status-mobile.Stopped {
    background-color: #e13849;
}
.service-mobile .service-status-mobile.Running {
    background-color: #38e18d;
}
.service-mobile .buttons-wrapper-mobile div {
    display: flex;
    justify-content: flex-end;
}
.service-mobile .button {
    color: #f9f9fa;
    font-size: 11px;
    font-weight: 600;
    border-radius: 2px;
    border: 1px solid #4b576a;
    padding: 11px 15px;
    background: transparent;
    text-transform: uppercase;
    margin-left: 9px;
    cursor: pointer;
}
.service-mobile .button.special {
    background-color: #3775e0;
}
.service-mobile .service-name-mobile {
    margin: 0 0 11px 9px;
}