
.machine-tile{
        background-color: #313843;
        border-radius: 3px;
        width: 279px;
        /* height: 279px; */
        color: white;
        margin:10px 0 10px 0;
        padding: 14px 19px 27px 19px;
        margin:10px;
}

.metric-tile-container{
    display:flex;
    justify-content: space-between;
}

.home-container{
    width: 100%;
}

.machine-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313843;
    border-radius: 3px;
    padding: 27px 57px ;
    margin-bottom: 30px;
}

.machine-bar-charts{
    display: flex;
}

.machine-bar-metrics{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.label{
    color:white;
    margin-bottom: 15px;
}

.label p:first-of-type{
margin-bottom: 3px;
font-weight: 500;
font-size: 16px;
text-align: center;
}

.label p:last-of-type{
    text-align: center;
    font-size: 16px;
}

.machine-chart{
    font-size: 30px;
    font-weight: bold;
}

.machine-chart-label{
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: -20px;
    margin-left: 10px;
}

.machine-chart select{
    background-color: transparent;
    border: none;
    color:white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}

svg path {
    stroke: none;
}

.machine-chart option{
    color:white;
    background-color: #313843;
    border: none;
}

.metric-tile{
    background-color: #384456;
    border-radius: 3px;
    width: 47%;
    height: 52px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.1);
}

.metric-name{
    margin: 3px 20px 3px 30px;
    font-size: 9px;
}

.icon-metric{
    display: flex; /* ustawia oboks siebie  */
    justify-content: center; /* center : w poziomie, space between odsuwa na maksa, spane around odsuwa ale nie na maksa */
    align-items: center; /*  w pionie  */
    font-size: 12px;
}

.metric-tile img{
    margin-right:6px;
}

.machine-tiles-container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap; /* flex + wrap klocki będą się zwijać w dół strony a nie po za stronę   */
  }

  .dead-machine-tile{
      display: flex;
      justify-content: center;
      padding-top: 25px;
      opacity: 10%;
  }


/* log table ========================================================== */

  .log-table{
    background-color: #313843;
    color: #fff;
    font-size: 14px;
    width: 100%;
    margin-top:20px;
    border-radius: 3px;
  }

.logs-table-row{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid #495971;
    padding: 10px;
}

.log-item{
text-align: left;
width: 20%;
word-break: keep-all;
}

.header-item{
    font-size: 17px;
    text-align: left;
    font-weight: 600;
    width: 20%;
}

/* =========================Restart modal================= */


.restart-modal{
   width: 400px;
   height: 300px;
   background-color: #313843;
   padding-top:150px;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: white;
}

.agent-modal{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.restart-button{
    width: 230px;
    height: 60px;
    text-align: center;
    margin: 15px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.restart-button-no{
background-color: #E13849;
color: white;
}

.restart-button-yes{
background-color: #38E18D;
color:black;
}
/* =========================Login modal================= */
.login-modal{
    width: 300px;
    height: 400px;
    background-color: #313843;
    padding-top:150px;
    margin: 0 auto;
    color: white;
 }

 .login-wrong-trial{
     color:  #E13849;
 }


 .closeImage{
     cursor: pointer;
     opacity: 45%;
 }

 .login-modal-close-wrapper{
    display: flex;
    align-items: flex-end;
    margin-left: 270px;
    margin-top: -45px;
 }

 .login-modal-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .login-input{
    margin: 10px;
 }

 .log-modal-button{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #de3143;
    padding: 10px 30px;
    cursor: pointer;
 }


/* ======================home mobile */
    .label-mobile{
        color:white;
        justify-content: left;
    }
    .machine-tile-mobile-order{
        width: 5%;
    }
    .machine-tile-mobile-name
    {
        width: 35%;
        display: table-cell;
        vertical-align: middle;
    }
    .machine-tile-mobile{
        display: flex;
        align-items: center;
        height: 47px;
        background-color: #313843;
        width: 100%;
        border-radius: 3px;
        margin:10px;
        color:white;
        font-size: 12px;
    }

    .status-dot{
        width: 18px;
        height: 18px;
        background-color:gray;
      border-radius: 50%;
    }

    @media (max-width:768px){
        .machine-bar, .machine-bar-charts{
            flex-direction: column;
        }

        .service-header input{
            margin-top: 15px;
        }

          .logs-header{
              display: none;
          }
          
          .header-item{
            display: none;
        }
        .log-item{
            margin: 4px;
            width: 50%;
        }
 
        header .log-button p{
            font-size: 12px;
            white-space: nowrap;
            padding: 10px 10px;
        }

        .logs-table-row{
            display:flex;
            flex-wrap: wrap;
        }
        .login-modal-close-wrapper {
            margin: 0;
            justify-content: flex-end;
            padding-right: 10px;
        }
    }