
    .machine-tile{
        background-color: #313843;
        border-radius: 3px;
        width: 279px;
        /* height: 279px; */
        color: white;
        margin:10px 0 10px 0;
        padding: 14px 19px 27px 19px;
        margin:10px;
    }

.metric-tile-container{
    display:flex;
    justify-content: space-between;
}

.machine-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313843;
    border-radius: 3px;
    padding: 27px 57px ;
    margin-bottom: 30px;
}

/* .machine-bar-wrapper{
    flex-direction: column;
} */

/* .machine-bar-label{

} */

.machine-bar-charts{
    display: flex;
}

.machine-bar-metrics{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.label{
    color:white;
    margin-bottom: 15px;
}

.label p:first-of-type{
margin-bottom: 3px;
font-weight: 500;
font-size: 16px;
text-align: center;
}

.label p:last-of-type{
    text-align: center;
    font-size: 16px;
}

.machine-chart{
    font-size: 30px;
    font-weight: bold;
}

.machine-chart-label{
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: -20px;
    margin-left: 10px;
}

.machine-chart select{
    background-color: transparent;
    border: none;
    color:white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}

svg path {
    stroke: none;
}

.machine-chart option{
    color:white;
    background-color: #313843;
    border: none;
}


.metric-tile{
    background-color: #384456;
    border-radius: 3px;
    width: 47%;
    height: 52px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.1);
}

.metric-name{
    margin: 3px 20px 3px 30px;
    font-size: 9px;
}

.icon-metric{
    display: flex; /* ustawia oboks siebie  */
    justify-content: center; /* center : w poziomie, space between odsuwa na maksa, spane around odsuwa ale nie na maksa */
    align-items: center; /*  w pionie  */
    font-size: 12px;
}

.metric-tile img{
    margin-right:6px;
}

.machine-tiles-container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap; /* flex + wrap klocki będą się zwijać w dół strony a nie po za stronę   */
  }

  .log-table{
    background-color: #313843;
    color: #fff;
    font-size: 14px;
    width: 100%;
    margin-top:20px;
    /* padding: 14px 20px 19px 20px; */
  }

  
.log-table thead th{
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    padding: 14px 20px 10px 20px;
    }

    .log-table tbody tr td {
        padding: 9px 20px 4px 20px;
        background-color: #313843;
        border-bottom: 1px solid #495971;
        text-align: left;
    }
    .log-table tbody:last-of-type td{
        padding-bottom: 20px;
    }

    /* home mobile */
    .label-mobile{
        color:white;
        justify-content: left;
    }
    .machine-tile-mobile-order{
        width: 5%;
        padding-top: 15px;
    }
    .machine-tile-mobile-name
    {
        width: 35%;
        display: table-cell;
        vertical-align: middle;
    }
    .machine-tile-mobile{
        display: flex;
        height: 47px;
        background-color: #313843;
        width: 100%;
        border-radius: 3px;
        margin:10px;
        color:white;
    }

    .status-dot{
        width: 23px;
        height: 23px;
        background-color:gray;
      border-radius: 50%;
    }
