span, label, h1, .service-basic-info {
    color:white;
}

.tile{
    border-radius: 3px;
    background-color: #313843;
    margin: 5px;
}

input[type='checkbox'] {  
    padding: 10px;
}

.label-chart-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47%;
}

.label-settings-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.service-info-row{
    display: flex;
    margin: 9px 0;
}

.service-info-key {
    font-size: 16px;
    font-weight: 600;
    width: 30%;
}
.service-info-value {
    font-size: 14px;
}

.service-details-chart {
    height: 300px;
}
.service-details-chart text {
    font-size: 8px;
}


/* notification settings panel  */

.notifications-settings{
    width: 47%;
    padding: 20px 20px 20px 30px;
}

.notifications-settings > h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.notifications-sink-settings{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.notifications-sink-settings h1 {
    font-size: 17px;
    font-weight: 600;
    width: 20%;
}

.notifications-sink-settings > div:first-of-type {
    width: 15%;
}

.notifications-sink-parameters{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.gadget-btn{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 10px 30px;
    cursor: pointer;
}

.webhook-setting-btn {
width: 35px;
height: 35px;
padding: 12px;
margin: 7px;
}

.notifications-head-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

option{
    color: white;
    background-color: #313843;
    border: none;
}

select{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}

.webhook-type{
    margin-top: 19px;
    margin-right: 10px;
    width:80px
}

.webhook-item{
    display: flex;
}

.setting-accept-btn{
    background-color: #38E18D;
}

.setting-delete-btn{
    background-color: #DE3143;
}

.notifications-sink-parameters div {
    width: 48%;
}

.notifications-sink-parameters input {
    width: 100%;
}

.notifications-levels{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.level-item{
    margin: 5px 15px 5px 0;
    display: flex;
    align-items: center;
}
.level-item label {
    margin-left: 5px;
}
.apply-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}
.apply-btn{
    color:#2A3038;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #38E18D;
    padding: 5px 40px;
    cursor: pointer;
    margin-top: 40px;
}

.sink-input{
    margin:5px;
    width: 240px;
}

@media (max-width: 768px) {
    .label-chart-container {
        width: 100%;
        background: #313843;
        padding: 16px 13px;
    }
    .service-details-chart {
        display: none;
    }
    .service-info-key,
    .service-info-value {
        font-size: 13px;
    }
    .service-info-value {
        margin-left: 15px;
    }
    .label-settings-container {
        flex-direction: column;
    }
    .notifications-settings {
        width: 100%;
        padding: 17px 25px;
        margin-top: 35px;
    }
    .notifications-settings > h1 {
        text-align: center;
    }
    .level-item label {
        font-size: 14px;
    }
    .apply-btn-wrapper {
        justify-content: center;
    }
    .apply-btn {
        padding: 5px 25px;
        color: #fff;
        margin-top: 20px;
    }
    .notifications-sink-settings {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .notifications-sink-parameters {
        width: 100%;
        flex-direction: column;
    }
    .notifications-sink-parameters div {
        width: 100%;
    }
    .notifications-sink-settings h1 {
        margin-bottom: 10px;
    }
    .notifications-sink-settings > div:first-of-type {
        margin-bottom: 10px;
    }
}